---
import ExperienceItem from "./ExperienceItem.astro";

const experience = [
  {
    company: "",
    dateRange: "Actualidad",
    description: "Freelance Developer",
    tasks: [
      "Creation of web applications",
      "REST API application maintenance",
      "GitHub repository management",
      "Building mobile and desktop apps with Flutter",
      "Publishing Docker containers",
    ],
  },
  {
    company: "NAS Consulting",
    dateRange: "2022 - 2023",
    description: "Full-Stack Developer",
    tasks: [
      "Implementation of new functionalities of the web application (Backend and Frontend) with Spring Boot and Angular",
      "Creation of the business mobile application using Flutter, integrating with the REST API of the organizational CRM",
      "Implementation of MVP architecture in Android mobile application with Java",
      "Development team leader",
    ],
  },
];

const { id } = Astro.props;
---

<section id={id}>
  <h2 class="sub-header">Experience</h2>
  {
    experience.map((item) => (
      <ExperienceItem
        company={item.company}
        dateRange={item.dateRange}
        description={item.description}
        tasks={item.tasks}
      />
    ))
  }
</section>

<style>
	.sub-header {
		font-size: 2rem;
		margin-top: 4rem;
		margin-bottom: 2rem;
		color: #ff6b6b;
	}
</style>