---
import Chip from "./ui/Chip.astro";
import LinkIcon from "../icons/LinkIcon.astro";

interface Props {
	title: string;
	description: string;
	image: string;
	tags: string[];
	href?: string;
}

const { title, description, image, tags, href } = Astro.props;
---

<article>
	<img src={image} alt={`Screenshot of the ${title} project`} />
	<section>
		<header>
			<h3>{title}</h3>
			<a href={href} target="_blank">
				<LinkIcon />
			</a>
		</header>
		<p>{description}</p>
		<footer>
			{tags.map((tag) => <Chip text={tag} />)}
		</footer>
	</section>
</article>

<style>
	article {
		display: flex;
		gap: 16px;
		border: 1px solid #505050;
		background-color: rgba(22, 22, 22, 0.4);
		border-radius: 8px;
		height: 250px;
	}

	article > img {
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		object-fit: cover;
		object-position: center;
		width: 45%;
	}

	article > section {
		flex: 1;
		display: flex;
		flex-direction: column;
		margin-top: 16px;
		margin-bottom: 16px;
		margin-right: 16px;
		max-height: 250px;
		max-height: 100%;
	}

	article > section header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	article > section h3 {
		margin: 0;
		color: #ababab;
	}

	article > section > p {
		flex: 1;
		text-wrap: pretty;
		overflow-y: hidden;
		text-overflow: ellipsis;
	}
	article footer {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}

	@media screen and (max-width: 600px) {
		article {
			flex-direction: column;
			height: 550px;
		}

		article > img {
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			border-bottom-left-radius: 0px;

			max-height: 60%;
			min-height: 50%;
			width: 100%;
		}

		article > section {
			margin-top: 0;
			margin-left: 16px;
			margin-right: 16px;

			display: flex;
			flex-direction: column;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
</style>
