---
import Chip from "./ui/Chip.astro";

interface Props {
  title: string;
  description: string;
  image: string;
  tags: string[];
}

const { title, description, image, tags } = Astro.props;
---

<article>
  <img src={image} alt={`Screenshot of the ${title} project`} />
  <section>
    <h3>{title}</h3>
    <p>{description}</p>
    <footer>
      {tags.map((tag) => <Chip text={tag} />)}
    </footer>
  </section>
</article>

<style>
  article {
		flex: 1;
		display: flex;
		gap: 16px;
		border: 1px solid #505050;
		background-color: rgba(22, 22, 22, 0.4);
		border-radius: 8px;
	}

	article > img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
		object-fit: cover;
		object-position: center;
	}

	article > section {
		display: flex;
		flex-direction: column;

		margin-top: 16px;
		margin-bottom: 16px;
		margin-right: 16px;
	}

	article > section > h3 {
		margin: 0;
		color: #ababab;
	}

	article > section > p {
		flex: 1;
		text-wrap: pretty;
	}
	article footer {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}

	@media screen and (max-width: 600px){
		article {
			flex-direction: column;
			max-width: 265px;
		}

		article > img {
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			border-bottom-left-radius: 0px;
		}

		article > section {
			margin-top: 0;
			margin-left: 16px;
			margin-right: 16px;

			display: flex;
			flex-direction: column;
			height: 100%;
		}
	}

	@media screen and (max-width: 468px){
		article {
			max-width: 100%;
		}
	}

</style>