---
import ProjectItem from "./ProjectItem.astro";
import { supabase } from "../lib/supabase";
import type { Project } from "../models/project";

const { data, error } = await supabase
	.from("projects")
	.select("*");

if (error) {
	console.error(error);
}

const projects: Project[] = data || [];

const { id } = Astro.props;
---

<section id={id}>
	<h2 class="sub-header">Projects</h2>
	<div class="project-list">
		{
			projects.map((project) => (
				<ProjectItem
					title={project.title}
					description={project.description}
					image={project.image}
					tags={project.tags}
					href={project.href}
				/>
			))
		}
	</div>
</section>

<style>
	.sub-header {
		font-size: 2rem;
		margin-top: 4rem;
		margin-bottom: 2rem;
		color: #ff6b6b;
	}
	.project-list {
		display: flex;
		gap: 16px;
		flex-direction: column;
	}
	@media (max-width: 600px) {
		.project-list {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
</style>
